@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@inject IHtmlLocalizer<SharedResource> SharedHtmlLocalizer
@model CompanyFinderAdmin.ViewModels.AdminViewModel
@using CompanyFinderAdmin



<div class="stage">
    <div class="stage-caption">
        <h1 class="display-2">@SharedLocalizer["Competence"]</h1>
        <h1 class="display-2">@SharedLocalizer["Administrator"]</h1>
        <br />
        <div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <form class="form-inline" asp-action="Login" asp-controller="Admin" method="post" style="border-radius:5px;">

                <input type="text" asp-for="AdminName" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="@SharedLocalizer["Username"]">

                <input type="password" asp-for="AdminPassword" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="@SharedLocalizer["Password"]">

                <input type="submit" value="@SharedLocalizer["Login"]" class="btn btn-primary" style="border-radius:5px;" />
            </form>
        </div>
    </div>
</div>






